.order-history {
    max-height: 400px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control,
#profile-update-form input::placeholder,
#id-default-country,
#id_default_country option:not(:first-child),
#id_default_country option:first-child {
    color: #7e805e;
}