html {
    height: 100%;
}

body {
	background: url('/media/homepageimg.jpg') no-repeat center center fixed;
	background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Goudy Bookletter 1911', serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.display-4 {
    padding-left: 3%;
}

.logo-font {
   
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgba(58, 92, 60, 0.8);
    color: white;
    min-width: 260px;
    border-radius: 2%;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #023020 !important;
    background-color: rgba(249,249,249, 0.7);
    border-radius: 1%;
}

.border-black {
    border: 1px solid black !important;
}

/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}