<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-dark hover mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'products' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
        
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=fiction" class="dropdown-item">Fiction</a>
                <a href="{% url 'products' %}?category=non-fiction" class="dropdown-item">Non-Fiction</a>
                <a href="{% url 'products' %}?category=poetry" class="dropdown-item">Poetry</a>
                <a href="{% url 'products' %}?category=younger readers" class="dropdown-item">Younger Readers</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Books</a>
            </div>
        </li>  
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Little Extras
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'about' %}" class="dropdown-item">About Leabhar Maith</a>
                <a href="{% url 'contact' %}" class="dropdown-item">Recommend A Book / Contact Us</a>
                <a href="{% url 'newsletter' %}" class="dropdown-item">Newsletter Sign-Up </a>
                <a href="{% url 'privacy' %}" class="dropdown-item">Privacy & Your Data</a>
            </div>
        </li>
    </ul>
</div>