{% extends "base.html" %}

{% load static %}

{% block page_header %}
<title>Leabhar Maith {% block extra_title %}{% endblock %}</title>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            {% for c in current_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                <span class="p-2 mt-2 badge badge-white text-dark rounded-0 border border-dark">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="">Products Page</a> | </span>
                        {% endif %}
                        {{ books|length }} Books{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
             <h2 class="heading">spring / earrach</h2>
            <div class="row">
                {% for book in books %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if book.featured_image %}
                                <a href="{% url 'book_detail' book.id %}">
                                    <img class="card-img-top img-fluid book_thumbnail" src="{{ book.featured_image.url }}" alt="{{ book.title }}">
                                </a>
                            {% else %}
                                <a href="{% url 'book_detail' book.id %}">
                                    <img class="card-img-top img-fluid" src="https://res.cloudinary.com/farahtasia/image/upload/v1681303606/leabharmaith/noimage_q03cly.png" alt="{{ book.title }}">
                                </a>
                            {% endif %}
                            <div class="card-body pb-0">
                            </div>
                            <div class="card-footer pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">€{{ book.price }}</p>
                                        
                                        {% if book.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ book.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                                </a>
                                            </p>
                                        {% endif %}
                                        <a class="hover btn btn-dark mt-1" href="{% url 'book_detail' book.id %}">Further Info</a>
                                        {% if request.user.is_superuser %}
                                            <small class="ml-3">
                                                <a href="{% url 'edit_book' book.id %}">Edit</a> | 
                                                <a class="text-danger" href="{% url 'delete_book' book.id %}">Delete</a>
                                            </small>
                                        {% endif %}           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<h2 class="heading" id="heading_featured">& Our featured product...</h2>

<!-- carousel-->

<div id="advert-carousel">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            {% for featured in featured_products %}
                <img class="d-block w-50 product_carousel" src="{{ featured.advert_image2.url }}" target="_blank" data-color="lightblue" alt="advert">
                <div class="carousel-caption d-md-block">
                    <h2 class="advert_heading1"> ...we'll send you one free if you spend €70</h2>
                </div>
        </div>
    <div class="carousel-item">
        <img class="d-block w-50 product_carousel" src="{{ featured.advert_image1.url }}" target="_blank" data-color="firebrick" alt="advert">
        <div class="carousel-caption d-md-block">
                <h2 class="advert_heading"><em>by</em> {{ featured.manufacturer }}</h2>
            {% endfor %}
        </div>
      </div>
    </div>
</div>
<!--End of carousel code -->

{% for featured in featured_products %}

    <div class="aligns-items-center" id="featured_container_card" style="width: 18rem;">
        {% if featured.featured_image.url %}
            <a href="{{ featured.featured_image.url }}" target="_blank">
                <img class="card-img-top product_image img-fluid" src="{{ featured.featured_image.url }}" alt="{{ featured.name }}">
            </a>
        {% else %}
            <a href="">
                <img class="card-img-top img-fluid" src="https://res.cloudinary.com/farahtasia/image/upload/v1681303606/leabharmaith/noimage_q03cly.png" alt="{{ featured.name }}">
            </a>
        {% endif %}
        <div>
            <br>
                <h4 class="featured_text"><strong>{{ featured.name }}</strong>: rrp  €{{ featured.price }}</h4>
                <p>
                    <a href="{{ featured.website }}" rel="sponsored" target="_blank" class="small_product_text">
                        <em>by</em> {{ featured.manufacturer }}
                    </a>
                </p>
                <p>{{ featured.description }}</p>
                <a href="{{ featured.website }}" rel="sponsored" target="_blank" class="btn" id="btn_featured">
                    Check out similar products...
                    <i class="fa-solid fa-credit-card"></i>
                </a>
                <br>
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                    <a href="{% url 'edit_featured' featured.id %}">Edit</a> | 
                    <a class="text-danger" href="{% url 'delete_featured' featured.id %}">Delete</a>
                    </small>
                {% endif %}
        </div>
    </div>    
{% endfor %}

<!--footer-->
<footer>
    <a class="footer" href="https://www.facebook.com/profile.php?id=100091762610528" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!<s/a>
</footer> 
{% endblock %}
<!--.-->
            
{% block postloadjs %}
    <script>
        $('.carousel').carousel({
        interval: 6000,
        pause: "false"
    });
    </script>
{% endblock %}