{% extends "base.html" %}
{% load static %}

{% block page_header %}
<title>Leabhar Maith {% block extra_title %}{% endblock %}</title>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="heading">spring / earrach</h2>      
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10">
                <div class="row mt1 mb-2"></div>
                <div class="row">
                    {% for book in books %}
                    <div class="col sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% load static %}
                            {% if book.featured_image %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ book.featured_image }}" alt="{{ book.title }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="" alt="{{ book.title }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ book.title }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ book.price }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

<!--                {% for book in books %}
                    {{ book }}
                {% endfor %}
                <br>
                <br>
                <h2>Featured Product</h2>
                {% for featured in featured_products %}
                    {{ featured }}
                {% endfor %}
            </div>    
        </div>
    </div>

 -->