{% extends "base.html" %}
{% load static %}

{% block page_header %}
<title>Leabhar Maith {% block extra_title %}{% endblock %}</title>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col yellow">
                <br>
                <br>
                <h2>Books</h2>
                {% for book in books %}
                    {{ book }}
                {% endfor %}
                <br>
                <br>
                <h2>Featured Product</h2>
                {% for featured in featured_products %}
                    {{ featured }}
                {% endfor %}
            </div>    
        </div>
    </div>

{% endblock %}